@font-face {
    font-family: myFont;
    src: url("C:\\Users\\Tamar Berman\\OneDrive\\Documents\\PROGRAMING\\YEAR_2\\CORE\\HW core\\אחרון עובד\TaskList\wwwroot\fonts\AmaticSC-Bold.ttf");
  }
body{
    font-family: myFont;
    margin: auto;
    color: rgb(50, 92, 83);
}
input[type='submit'],
button,
[aria-label] {
    cursor: pointer;
}

#editForm {
    display: none;
}

table {
    font-family: Arial, sans-serif;
    border: 1px solid;
    border-collapse: collapse;
}

th {
    background-color: #f8f8f8;
    padding: 5px;
}

td {
    border: 1px solid;
    padding: 5px;
}

.hidden{
    visibility: hidden;
}

button, select {
    text-transform: none;
    border-radius: 10px;
    border: solid 0.5px gray;
    background: none;
}
